<div class="flex-centered col-xl-3 col-lg-4 col-md-5 col-sm-7 col-10">
    <div class="form-signin w-100 m-auto tile-panel glass-effect">
        <form (ngSubmit)="forgot(UserForm.valid ?? false)" #UserForm="ngForm" autocomplete="off" novalidate>
            <h1 class="h3 mt-2 mb-2 fw-normal">Forgot Password</h1>
            <p class="sub-title mb-2">Sign in with your username or email</p>
            
            <div class="form-floating mb-3">
                <input type="text" name="inputEmail" id="inputEmail" class="form-control shadow-sm size-lg" autofocus [(ngModel)]="resetEmail" placeholder="Username" required #inputEmail="ngModel" [ngClass]="{'form-control-danger':(UserForm.submitted || inputEmail.dirty  || inputEmail.touched) && (inputEmail.invalid)}" />
                <label for="floatingEmail">Username / Email</label>
                <div class="invalid-feedback text-start" *ngIf="(UserForm.submitted && inputEmail.invalid) || (inputEmail.dirty && inputEmail.invalid) || (inputEmail.touched && inputEmail.invalid)">
                    <p>Username is required!</p>
                </div>
            </div>
            
            <button class="w-100 btn btn-lg btn-primary mb-3" [class.btn-pulse]="UserForm.submitted">Submit</button>
            <p >You have password ? <a routerLink="/auth/login"> Login here</a></p>

            <p class="mt-4 mb-3 text-muted">© InfoElegant 2020–2025</p>
        </form>
    </div>
</div>
