<div class="flex-centered col-xl-3 col-lg-4 col-md-5 col-sm-7 col-10">
    <div class="form-signin w-100 m-auto tile-panel glass-effect">

        <h1 class="h3 mt-2 mb-3 fw-normal">UpdatePassword</h1>
        <form (ngSubmit)="SetPassowrd(userForm.valid ?? false)" #userForm="ngForm" autocomplete="off" novalidate>
            <!-- New Password Field -->
            <div class="form-floating mb-3">

                <input type="type" name="NewPassword" class="form-control shadow-sm size-lg" 
                    [(ngModel)]="user.password" placeholder="New Password" required minlength="8"
                    [ngClass]="{
                        'form-control-danger': 
                        (userForm.submitted || 
                        userForm.form.controls['NewPassword'].dirty || 
                        userForm.form.controls['NewPassword'].touched) && 
                        userForm.form.controls['NewPassword'].invalid
                      }"
                       />
                <label for="NewPassword">New Password</label>
                <div class="invalid-feedback text-start" *ngIf="(userForm.submitted && userForm.form.controls['NewPassword']?.invalid) || (userForm.form.controls['NewPassword']?.dirty && userForm.form.controls['NewPassword']?.invalid) || (userForm.form.controls['NewPassword']?.touched && userForm.form.controls['NewPassword']?.invalid)">
                    <p>New password is required and must be at least 8 characters long.</p>
                </div>
            </div>
        
            <!-- Confirm Password Field -->
            <div class="form-floating mb-3">
                <input type="password" name="confirmPassword" class="form-control shadow-sm size-lg" 
                    [(ngModel)]="user.confirmPassword" placeholder="Confirm Password" required minlength="8"
                    [ngClass]="{
                        'form-control-danger': 
                          (userForm.submitted || 
                           userForm.form.controls['confirmPassword'].dirty || 
                           userForm.form.controls['confirmPassword'].touched) && 
                          userForm.form.controls['confirmPassword'].invalid
                        }"/>
                <label for="confirmPassword">Confirm Password</label>
         
                
                <!-- Tooltip for Invalid Confirm Password -->
                <div class="invalid-feedback text-start" *ngIf="(userForm.submitted && userForm.form.controls['confirmPassword']?.invalid) || (userForm.form.controls['confirmPassword']?.dirty && userForm.form.controls['confirmPassword']?.invalid) || (userForm.form.controls['confirmPassword']?.touched && userForm.form.controls['confirmPassword']?.invalid)">
                    <p>Confirm password is required</p>
                </div>
        
                <!-- Tooltip for Mismatching Passwords -->
                <div class="invalid-feedback text-start" *ngIf="user.password !== user.confirmPassword && (userForm.form.controls['confirmPassword']?.touched || userForm.submitted)">
                    <p>Confirm password must match the new password.</p>
                </div>
            </div>
        
            <button class="w-100 btn btn-lg btn-primary mb-3" [class.btn-pulse]="userForm.submitted">Update</button>
            <p>Don't want to reset password? <a href="" routerLink="/auth/login">Login Here</a></p>
            <p class="mt-4 mb-3 text-muted">© InfoElegant 2020–2025</p>
        </form>
    </div>
</div>
